h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  .img-thumbnail
  {
    max-width: 40%;
  }
  .panel
{
margin-top: 15%;
}
.bookmark{
  margin: 7px 0 0 19px;
  width: 50%;
}

.git_url{
  padding-left: 10%;
}