<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
  <nav  class="navbar navbar-inverse navbar-fixed-top" style="height: 7%;">
        <div class="container">
  <a [routerLink]="['/repositories']">Go Back</a>
        </div>
  </nav>
<!--BOOKMARK REPOSITORIES -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Bookmark Repositories</h3>
    </div>
<div class="panel-body">
    <div class="row">
            <!-- Looop To Display Repos -->
            <div class="col-md-12">
                <div *ngFor="let repo of bookmarksRepos">
                    <div class="row">
                        
                        <!-- Div To Display Repositories -->
                        <div class="col-md-9">
                            <!-- Repo Name -->
                            <h3>{{repo.name}}</h3>
                            <!-- Repo avatar -->
                            <img src="{{repo.owner.avatar_url}}" class="img-thumbnail github-avatar" alt="Repo Image">
                            <!-- View on Github Button -->

                            <h4><a class="git_url" href="{{repo.html_url}}" target="_blank">View on github</a></h4>
                        </div>
                        <div class="col-md-3">
                        <div >
                            <span class="label label-default">{{repo.watchers}} Stars </span>
                            <span class="label label-primary">{{repo.forks}} Forks </span>
                        </div>
                        <div >    
                            <img class="bookmark" (click)="bookmarkRepo(repo)" src="/assets/images/{{repo.bookmark}}.png"  alt="Repo Image">
                        </div>
                    </div>

                    </div>
                    <hr>
                </div>
            </div>
    </div>
</div>
</div>


<!-- COLLAPSE BOOKMARK REPOSITORIES -->